/* Container for the table */
.elo-table-container {
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

/* Table Wrapper to enable scrolling */
.table-wrapper {
  border: 1px solid #ccc;
  margin: 0 auto;
  width: 100%;
}

/* Season Button */
.season-button {
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 18px;
}

.season-button:hover {
  background-color: #0056b3;
}

.week-section h3 {
  margin: 0;
  font-size: 48px;
  padding: 10px 0;
}

/* Match Row Grid Layout */
.match-row {
  display: grid;
  grid-template-columns: repeat(11, 1fr); /* Adjust grid columns for the new layout */
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 3px solid #000000;
  border-radius: 5px 5px 5px 5px;
  background: linear-gradient(to right, #11151c, #11151c, #dae3e500, #11151c, #11151c); /* Initial static gradient */
  width: 95%;
  height: 60px;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-position: center center; /* Start from the center */
  transition: all 0.5s ease-in-out; /* Smooth transition for hover effects */
}

/* Keyframes for breathing (zooming) background animation centered */
@keyframes background-breathing {
  0% {
    background-size: 100% 100%;
    background-position: center center;
  }
  50% {
    background-size: 150% 150%; /* Zoom in */
    background-position: center center;
  }
  100% {
    background-size: 100% 100%; /* Zoom out */
    background-position: center center;
  }
}

/* Hover effect */
.match-row:hover {
  background: linear-gradient(to right, #DAE3E5, #007EA7, #dae3e500, #007EA7, #DAE3E5); /* Change gradient on hover */
  animation: background-breathing 5s ease-in-out infinite; /* Continuous breathing effect */
  border-color: #007EA7; /* Optionally change the border color */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Add a subtle glow on hover */
}

/* Individual elements styling */
/* Home Team Elements */
.logo-home img {
  width: 64px;
  height: 64px;
}

.team-name-home {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: white;
  text-align: left;
}

/* Away Team Elements */
.logo-away img {
  width: 64px;
  height: 64px;
}

.team-name-away {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: white;
  text-align: right;
}

/* ELO Change Styling */
.elo-change-home {
  font-family: "Source Code Pro", monospace;
  padding: 5px;
  font-weight: bold;
  text-align: right;
}

.elo-change-away {
  font-family: "Source Code Pro", monospace;
  padding: 5px;
  font-weight: bold;
  text-align: left;
}

.elo-change-home.green {
  color: green;
}

.elo-change-home.red {
  color: red;
}

.elo-change-home.yellow {
  color: yellow;
}

.elo-change-away.green {
  color: green;
}

.elo-change-away.red {
  color: red;
}

.elo-change-away.yellow {
  color: yellow;
}

/* Goals Styling */
.goals-home {
  font-family: "Archivo", sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-align: left;
  width: 100%;
}

.goals-home.green {
  color: white;
}

.goals-home.red {
  color: white;
}

.goals-home.yellow {
  color: white;
}

.goals-away {
  font-family: "Archivo", sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-align: right;
  width: 100%;
}

.goals-away.green {
  color: white;
}

.goals-away.red {
  color: white;
}

.goals-away.yellow {
  color: white;
}

/* ELO Value Styling */
.elo-value-home {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: 48px;
  color: white;
  text-align: left;
  width: 100%;
}

.elo-value-away {
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  font-size: 48px;
  color: white;
  text-align: right;
  width: 100%;
}

/* Match Date Styling */
.match-date {
  font-family: "Merriweather Sans", sans-serif;
  font-style: italic;
  font-size: 12px;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(64, 64, 64);
  text-align: center;
  width: 100%;
}

/* Season buttons as squares */
.season-square {
  width: 300px;
  height: 300px;
  color: rgb(0, 0, 0);
  margin: 10px;
  font-size: 64px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  perspective: 1000px; /* Define the 3D perspective for the parallax effect */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.season-square-content {
  transition: transform 0.1s ease-out; /* Smooth transition for dynamic effect */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.season-square:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5); /* Increase shadow for depth */
  /* No need to add background or transform here, dynamic style will handle that */
}

/* Conveyor belt container */
.conveyor-container {
  width: 100%;
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Keep items in a single row */
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px 0;
  margin: 0;
}

/* Conveyor track with padding to allow scrolling to the first and last buttons */
.conveyor-track {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 40vw; /* Add enough padding so that the first button can be centered */
  padding-right: 40vw; /* Add enough padding so that the last button can be centered */
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}


/* Hover area to scroll right */
.scroll-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  cursor: pointer;
  z-index: 1;
}

/* Hover area to scroll left */
.scroll-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5));
  cursor: pointer;
  z-index: 1;
}

/* Style for the season buttons in the conveyor */
.conveyor-item {
  display: inline-block;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  opacity: 0.5;
  transform: scale(0.8);
  perspective: 1000px;
}

/* Center item is in focus */
.conveyor-item.focus {
  transform: scale(1.2);
  opacity: 1;
}

/* Hover effect for the focus item */
.conveyor-item.focus:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
}

/* Slide-up section */
.slide-up-section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(#1768AC, white, #1768AC);
  max-height: 80vh;
  overflow-y: scroll;
  animation: slideUp 0.5s ease-in-out;
  z-index: 2;
}

/* Close button */
.close-button {
  position: absolute;
  width: 100%; /* Automatically adjust to the button content */
  padding: 0;
  right: 0; /* Align to the right */
  top: 0; /* Align to the top */
  margin-top: 0;
  font-size: 24px;
  background-color: #1768AC;
  border: 1px solid black;
  color: #000000;
  cursor: pointer; /* Add cursor pointer to enhance UX */
  border-radius: 0; /* Remove rounded corners */
}

.close-button:hover {
  color: #ff0000;
  background-color: #DAE3E5;
}

/* Game week buttons */
.game-week-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.week-button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.week-button:hover {
  background-color: #0056b3;
}

/* Animation for the slide-up effect */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Styling the matches area inside the sliding section */
.matches-by-week {
  margin: 20px 0;
}

.week-section {
  margin-bottom: 20px;
}

/* Glass Buttons*/
.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}